<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>MyKindle</title>
    <style>
form
{
padding:0;
width:100%;
margin:20px 0 0 0;
height:300px;
}
#searchinput
{
height:100px;
width:100%;
font-size:80px;
padding:0;
border-style:solid;
}
#searchsubmit
{
height:100px;
width:30%;
padding:0;
margin:20px 0 35% 35%;
}
</style>
</head>
<body>
<form method="POST">
        <input id='searchinput' type="text" name="keyword">
        <br>
        <input id='searchsubmit' type="submit" value="搜索">
</form>
</body>
</html>